/* Font Change*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");



/* CSS Reset Rule*/
* {

    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;

}
html {

    scroll-behavior: smooth;

}



/* index.html */
/* Header */
.header {

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

/* Navigation Bar */
nav {

    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img {

    width: 200px;

}
nav .fa-solid {

    display: none;

}
.nav-links {

    flex: 1;
    text-align: right;

}
.nav-links ul li {

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a {

    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after {

    content: "";
    width: 0%;
    height: 2px;
    background: #EA0000;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after {

    width: 100%;

}

/* Name, Description */
.text-box {
    
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1 {

    font-size: 62px;

}
.text-box p {
    
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}

/* Hero Button */
.hero-btn {

    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.hero-btn:hover {

    border: 1px solid #EA0000;
    background: #EA0000;
    transition: 1s;

}

/* Course */
.course {

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

/* Course Description */
h1 {

    font-size: 36px;
    font-weight: 600;

}
p {

    color: #000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
#description-p {

    margin: auto;
    width: 70%;

}

/* Course Boxes */
.row {
    
    margin-top: 5%;
    display: flex;
    justify-content: space-around;

}
.course-col {

    flex-basis: 24%;
    background: #fad8d8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}
h3 {

    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.course-col:hover {

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);

}

/* Campus, Description */
.campus {
        
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.campus .row {

    width: 80%;
    margin: 5% auto 0;

}
.campus-col {

    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.campus-col img {

    width: 100%;
    height: auto;
    display: block;

}
.layer {

    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover {
    background: rgba(234, 0, 0, 0.7);
}
.layer h3 {

    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover h3 {

    bottom: 49%;
    opacity: 1;

}

/* Facilities, Description */
.facilities {

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
.facilities-col {

    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}
.facilities-col img {

    width: 100%;
    border-radius: 10px;

}
/* Facilities Description */
.facilities-col p {

    padding: 0;

}
.facilities-col h3 {

    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;

}

/* Testimonials */
.testimonials {

    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}
/* Testimonials Boxes */
.testimonial-col {

    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fad8d8;
    padding: 25px;
    cursor: pointer;
    display: flex;

}
.testimonial-col img {

    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
/* Testimonials Description */
.testimonial-col p {

    padding: 0;

}
.testimonial-col h3 {

    margin-top: 15px;
    text-align: left;

}
.testimonial-col .fa-solid {

    color: #500000;
    margin: 0;

}

/* Call To Action */
.cta {

    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
/* Call To Action Description */
.cta h1 {

    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}

/* Footer */
.footer {

    width: 100%;
    text-align: center;
    padding: 30px 0;
    
}
.footer h4 {

    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
/* Footer Icons */
.icons .fa-brands, .fa-solid {

    color: #EA0000;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.icons-2 .fa-brands {

    color: #EA0000;
    cursor: pointer;
    margin: 0 13px;

}



/* about.html */
/* Header */
.sub-header {

    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/Lobby.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}
/* Header Description*/
.sub-header h1 {

    margin-top: 50px;

}

/* About Us Content */
.about-us {

    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}
.about-col {

    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col iframe {

    width:  560px;
    height: 315px;

}
.about-col h1 {

    padding-top: 0;

}
.about-col p {

    padding: 15px 0 25px;

}

/* About Us Button */
.red-btn {

    border: 1px solid #EA0000;
    background: transparent;
    color: #EA0000;

}
.red-btn:hover {

    color: #fff;

}



/* blog.html */
/* Blog Content */
.blog-content {

    width: 80%;
    margin: auto;
    padding: 60px 0;

}

/* Blog Left Side */
.blog-left {

    flex-basis: 65%;

}
.blog-left img {

    width: 100%;

}
.blog-left h2 {

    color: #222;
    font-weight: 600;
    margin: 30px 0;

}
.blog-left h3 {

    text-align: left;
    color: #222;
    font-weight: 600;

}
.blog-left p {

    color: #999;
    padding: 0;
    font-weight: 400;

}

/* Blog Right Side */
.blog-right {

    flex-basis: 32%;

}
.blog-right h3 {

    background: #EA0000;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;

}
.blog-right div {

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;

}

/* Comment Box */
.comment-box {

    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;

}
.comment-box h3 {

    text-align: left;

}
.comment-form input, .comment-form textarea {

    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;

}
.comment-form button {

    margin: 10px 0;

}



/* Contact Us */
/* Contact Us Map */
.location {

    width: 80%;
    margin: auto;
    padding: 80px 0;

}
.location iframe {

    width: 100%;

}

/* Contact Us Contents */
.contact-us {
    
    width: 80%;
    margin: auto;

}

/* Contact Us Boxes */
.contact-col {

    flex-basis: 48%;
    margin-bottom: 30px;

}

/* Contact Us Left Box */
.contact-col div {

    display: flex;
    align-items: center;
    margin-bottom: 40px;

}
.contact-col div .fa {

    font-size: 28px;
    color: #EA0000;
    margin: 10px;
    margin-right: 30px;

}
.contact-col div p {

    padding: 0;

}
.contact-col div h5 {

    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;

}
.contact-col div a {

    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    text-decoration: none;

}

/* Contact Us Right Box */
.contact-col input, .contact-col textarea {

    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;

}



/* studentsportal.html */
/* Students' Portal Background */
#studentsportal-body {

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/Lobby_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/* Students' Portal Form */
.login-form {

    width: 100%;
    
}
.form-box {

    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;

}
.form-box h1 {

    font-size: 30px;
    margin-bottom: 60px;
    color: #EA0000;
    position: relative;
    
}
.form-box h1::after {

    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #EA0000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

}

/* Form Input Field */
.input-field {

    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}
input {

    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}
.input-field i {

    margin-left: 15px;
    color: #999;

}
form p {

    padding: 5px;
    text-align: left;
    font-size: 13px;

}
form p a {

    text-decoration: none;
    color: #EA0000;

}

/* Form Button */
.button-field{

    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.button-field button {

    flex-basis: 48%;
    background: #EA0000;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}
.input-group {

    height: 280px;

}
.button-field button.disable {

    background: #eaeaea;
    color: #555;

}



/* Phone View */
@media(max-width: 700px) {

    /* Name, Description */
    .text-box h1 {

        font-size: 20px;

    }

    /* Navigation Bar */
    .nav-links ul li {

        display: block;
    
    }
    .nav-links {

        position: fixed;
        background: #EA0000;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa-solid {

        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul {

        padding: 30px;

    }

    /* Course Boxes */
    .row {

        flex-direction: column;

    }
    #description-p {
        padding: 10px 0;
        width: 100%;
    }

    /* Testimonial Images */
    .testimonial-col img {

        margin-left: 0px;
        margin-right: 15px;

    }

    /* Call To Action Description */
    .cta h1 {

        font-size: 24px;

    }

    /* About Us iFrame */
    .about-col iframe {

        width:  auto;
        height: auto;
    
    }

    /* Blog Header */
    .sub-header h1 {

        font-size: 24px;

    }

    /* Contact Us Email */
    .contact-col div #gpisEmail {

        font-size: 17px;
    
    }

    /* Students' Portal Form */
    .form-box {

        width: 50%;

    }
    .form-box form {

        width: 100%;

    }

}



/* iPad View */
@media(min-width: 768px) and (max-width: 1112px) {

    /* About Us Content*/
    .about-us .row {

        display: flex;
        flex-direction: column;

    }
    .about-col {

        padding: 30px 2px;
    
    }
    .about-col iframe {

        width:  100%;
        height: 315px;
    
    }

}